<table class="mails">
  <tbody>
  {{#each controller}}
    <tr {{bind-attr class="active"}}>
      <th class=arrived>{{arrived}}</th>
      <th class=emailCount>({{emailCount}})</th>
      <th class=from>{{from}}</th>
      <th class=subject>{{subject}}</th>
    </tr>
  {{/each}}
  </tbody>
</table>
