<table class="mails">
  <tbody>
  {{#each controller}}
    <tr {{bind-attr class="active"}}>
      <th class=timestamp>{{timestamp}}</th>
      <th class=emailCount>({{total}})</th>
      <th class=authors>{{authors}}</th>
      <th class=subject>{{subject}}</th>
    </tr>
  {{/each}}
  </tbody>
</table>
